@import "tailwindcss";

:root {
--background: oklch(0.9730 0.0133 286.1503);
--foreground: oklch(0.2534 0.0594 281.3033);
--card: oklch(1.0000 0 0);
--card-foreground: oklch(0.2534 0.0594 281.3033);
--popover: oklch(1.0000 0 0);
--popover-foreground: oklch(0.2534 0.0594 281.3033);
--primary: oklch(0.6960 0.1700 162.4800);
--primary-foreground: oklch(0 0 0);
--secondary: oklch(0.6268 0.2325 303.9004);
--secondary-foreground: oklch(1.0000 0 0);
--muted: oklch(0.9257 0.0175 286.0529);
--muted-foreground: oklch(0.5674 0.0491 284.7283);
--accent: oklch(0.6532 0.2828 316.4653);
--accent-foreground: oklch(1.0000 0 0);
--destructive: oklch(0.6368 0.2078 25.3313);
--destructive-foreground: oklch(1.0000 0 0);
--border: oklch(0.8760 0.0274 285.8213);
--input: oklch(0.9580 0.0133 286.1454);
--ring: oklch(0.9077 0.1414 174.3434);
--chart-1: oklch(0.6532 0.2828 316.4653);
--chart-2: oklch(0.9077 0.1414 174.3434);
--chart-3: oklch(0.6268 0.2325 303.9004);
--chart-4: oklch(0.6231 0.1880 259.8145);
--chart-5: oklch(0.6559 0.2118 354.3084);
--sidebar: oklch(1.0000 0 0);
--sidebar-foreground: oklch(0.2534 0.0594 281.3033);
--sidebar-primary: oklch(0.9077 0.1414 174.3434);
--sidebar-primary-foreground: oklch(0 0 0);
--sidebar-accent: oklch(0.6532 0.2828 316.4653);
--sidebar-accent-foreground: oklch(1.0000 0 0);
--sidebar-border: oklch(0.8760 0.0274 285.8213);
--sidebar-ring: oklch(0.9077 0.1414 174.3434);
--font-sans: Outfit, sans-serif;
--font-serif: Roboto, sans-serif;
--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--radius: 0.5rem;
--shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.07);
--shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.07);
--shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.15), 0px 1px 2px -1px hsl(0 0% 0% / 0.15);
--shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.15), 0px 1px 2px -1px hsl(0 0% 0% / 0.15);
--shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.15), 0px 2px 4px -1px hsl(0 0% 0% / 0.15);
--shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.15), 0px 4px 6px -1px hsl(0 0% 0% / 0.15);
--shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.15), 0px 8px 10px -1px hsl(0 0% 0% / 0.15);
--shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.38);
--tracking-normal: 0.05em;
--spacing: 0.25rem;
}

.dark {
--background: oklch(0.1700 0.0633 277.2833);
--foreground: oklch(0.9172 0.0203 285.9937);
--card: oklch(0.2122 0.0613 279.8129);
--card-foreground: oklch(0.9172 0.0203 285.9937);
--popover: oklch(0.2534 0.0594 281.3033);
--popover-foreground: oklch(0.9172 0.0203 285.9937);
--primary: oklch(0.9077 0.1414 174.3434);
--primary-foreground: oklch(0 0 0);
--secondary: oklch(0.6268 0.2325 303.9004);
--secondary-foreground: oklch(1.0000 0 0);
--muted: oklch(0.2936 0.0576 282.2655);
--muted-foreground: oklch(0.7262 0.0461 285.1956);
--accent: oklch(0.6532 0.2828 316.4653);
--accent-foreground: oklch(0 0 0);
--destructive: oklch(0.6368 0.2078 25.3313);
--destructive-foreground: oklch(1.0000 0 0);
--border: oklch(0.3821 0.0542 283.5384);
--input: oklch(0.2534 0.0594 281.3033);
--ring: oklch(0.9077 0.1414 174.3434);
--chart-1: oklch(0.6532 0.2828 316.4653);
--chart-2: oklch(0.9077 0.1414 174.3434);
--chart-3: oklch(0.6268 0.2325 303.9004);
--chart-4: oklch(0.6231 0.1880 259.8145);
--chart-5: oklch(0.6559 0.2118 354.3084);
--sidebar: oklch(0.2122 0.0613 279.8129);
--sidebar-foreground: oklch(0.9172 0.0203 285.9937);
--sidebar-primary: oklch(0.9077 0.1414 174.3434);
--sidebar-primary-foreground: oklch(0 0 0);
--sidebar-accent: oklch(0.6532 0.2828 316.4653);
--sidebar-accent-foreground: oklch(1.0000 0 0);
--sidebar-border: oklch(0.3821 0.0542 283.5384);
--sidebar-ring: oklch(0.9077 0.1414 174.3434);
--font-sans: Outfit, sans-serif;
--font-serif: Roboto, sans-serif;
--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--radius: 0.5rem;
--shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.15);
--shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.15);
--shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
--shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
--shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
--shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
--shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
--shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
--color-card: var(--card);
--color-card-foreground: var(--card-foreground);
--color-popover: var(--popover);
--color-popover-foreground: var(--popover-foreground);
--color-primary: var(--primary);
--color-primary-foreground: var(--primary-foreground);
--color-secondary: var(--secondary);
--color-secondary-foreground: var(--secondary-foreground);
--color-muted: var(--muted);
--color-muted-foreground: var(--muted-foreground);
--color-accent: var(--accent);
--color-accent-foreground: var(--accent-foreground);
--color-destructive: var(--destructive);
--color-destructive-foreground: var(--destructive-foreground);
--color-border: var(--border);
--color-input: var(--input);
--color-ring: var(--ring);
--color-chart-1: var(--chart-1);
--color-chart-2: var(--chart-2);
--color-chart-3: var(--chart-3);
--color-chart-4: var(--chart-4);
--color-chart-5: var(--chart-5);
--color-sidebar: var(--sidebar);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-ring: var(--sidebar-ring);

--font-sans: var(--font-sans);
--font-mono: var(--font-mono);
--font-serif: var(--font-serif);
--radius-sm: calc(var(--radius) - 4px);
--radius-md: calc(var(--radius) - 2px);
--radius-lg: var(--radius);
--radius-xl: calc(var(--radius) + 4px);
--shadow-2xs: var(--shadow-2xs);
--shadow-xs: var(--shadow-xs);
--shadow-sm: var(--shadow-sm);
--shadow: var(--shadow);
--shadow-md: var(--shadow-md);
--shadow-lg: var(--shadow-lg);
--shadow-xl: var(--shadow-xl);
--shadow-2xl: var(--shadow-2xl);
--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
--tracking-tight: calc(var(--tracking-normal) - 0.025em);
--tracking-normal: var(--tracking-normal);
--tracking-wide: calc(var(--tracking-normal) + 0.025em);
--tracking-wider: calc(var(--tracking-normal) + 0.05em);
--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
letter-spacing: var(--tracking-normal);
}
